.container {
  max-width: 1000px;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.row-item {
  width: 30%;
  text-align: center;
  margin: 10px;
  background-color: #F5F5F5;
}

.row-item img {
  width: 70%;
  margin: 10px;
}

